h1 {
  color: black;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: darkblue;
}

p {
  color: teal;
}

body {
  background-color: skyblue;
  font-family: sans-serif;
  text-align: center;
}
}
